<a href="https://colab.research.google.com/github/npr99/Archive/blob/master/PLAN604_ACS_Population_Pyramids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Application of Population Pyramids from ACS Data
 
---
This Google Colab Notebook provides a complete workflow (sequence of steps from start to finish) that will allow you to explore population composition data by age and sex found in ACS Data. 

This notebook obtains and cleans population percentages found in the ACS.

Helpful Links that inspired this notebook:

https://www.youtube.com/watch?v=jMBaY-rO4G0

https://walker-data.com/tidycensus/articles/other-datasets.html#migration-flows-1

In [ ]:
# Python packages required to read in and Census API data
import requests ## Required for the Census API
import pandas as pd # For reading, writing and wrangling data
import matplotlib.pyplot as plt # For plotting and making graphs
import numpy as np

In [50]:
# Downloading and running python script from github
# https://jckantor.github.io/cbe61622/A.02-Downloading_Python_source_files_from_github.html
# Make sure the url is the raw version of the file on GitHub

user = "npr99"
repo = "PlanningMethods"
pyfile = "_planning_methods.py"
url = f"https://raw.githubusercontent.com/{user}/{repo}/master/{pyfile}"
!wget --no-cache --quiet --backups=1 {url}
print("Reading in python file from",url)
exec(open(pyfile).read())

Reading in python file from https://raw.githubusercontent.com/npr99/PlanningMethods/master/_planning_methods.py

## Step 1: Obtain Data
The previous step read in a python file with the Obtain Data function presented in the notebook on [Sample Size and Confidence Intervals](https://github.com/npr99/PlanningMethods/blob/master/PLAN604_Population_vs_Sample_USCounties.ipynb) The block of code with the python functions needs to be run first and then the function can be called in future blocks of code.

## Run Obtain Census API for ACS data with Age and Sex Charactersitics
The next block of code calls the function and gets varaibles related to public transportation use. The code is called in a loop.

For more variables see:

https://www.census.gov/data/developers/data-sets/acs-5year.2019.html

https://api.census.gov/data/2019/acs/acs5/subject/groups/S0101.html

https://data.census.gov/cedsci/table?tid=ACSST1Y2019.S0101

### Use a loop to make list of variables to get

In [51]:
tableid = 'S0101'
columns = {4 : 'Percent Male',
           6 : 'Percent Female'
           }
# There are 18 age cohorts under 5 years to 85 years and over
age_cohorts = 18
# What is the variable number for thefirst age cohort
first_age_cohort_variable = 2

# Create an empty "container" to store multiple ACS years for the data
acs_df = {} 

dataset_name = 'acs/acs5/subject'
vintages = ['2019']

for column in columns:
  get_vars = 'GEO_ID,NAME'
  for age_variable in range(0,age_cohorts):
    age_cohort_var = first_age_cohort_variable + age_variable
    age_cohort_var_str = str(age_cohort_var).zfill(3)
    get_var = tableid+'_C0'+str(column)+"_"+age_cohort_var_str+'E'
    get_vars = get_vars + ',' + get_var

  # Get dat for the list of variables
  for vintage in vintages:
    acs_df[vintage+' '+columns[column]] = planning_methods.obtain_census_api(get_vars = get_vars,
                                                        dataset_name = dataset_name, 
                                                        vintage = vintage)
    
    acs_df[vintage+' '+columns[column]] = clean_acs_variables(acs_df[vintage+' '+columns[column]],vintage, dataset_name, get_vars)

Census API data from: https://api.census.gov/data/2019/acs/acs5/subject?get=GEO_ID,NAME,S0101_C04_002E,S0101_C04_003E,S0101_C04_004E,S0101_C04_005E,S0101_C04_006E,S0101_C04_007E,S0101_C04_008E,S0101_C04_009E,S0101_C04_010E,S0101_C04_011E,S0101_C04_012E,S0101_C04_013E,S0101_C04_014E,S0101_C04_015E,S0101_C04_016E,S0101_C04_017E,S0101_C04_018E,S0101_C04_019E&in=state:*&in=county:*&for=county:*
2019 Renameing GEO_ID  =  Geography Changing type to string
2019 Renameing NAME  =  Geographic Area Name Changing type to string
2019 Renameing S0101_C04_002E  =  Under 5 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_003E  =  5 to 9 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_004E  =  10 to 14 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_005E  =  15 to 19 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_006E  =  20 to 24 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_007E  =  25 to 29 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_008E  =  30 to 34 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_009E  =  35 to 39 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_010E  =  40 to 44 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_011E  =  45 to 49 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_012E  =  50 to 54 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_013E  =  55 to 59 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_014E  =  60 to 64 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_015E  =  65 to 69 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_016E  =  70 to 74 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_017E  =  75 to 79 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_018E  =  80 to 84 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C04_019E  =  85 years and over 2019 (Estimate) Changing type to float
Census API data from: https://api.census.gov/data/2019/acs/acs5/subject?get=GEO_ID,NAME,S0101_C06_002E,S0101_C06_003E,S0101_C06_004E,S0101_C06_005E,S0101_C06_006E,S0101_C06_007E,S0101_C06_008E,S0101_C06_009E,S0101_C06_010E,S0101_C06_011E,S0101_C06_012E,S0101_C06_013E,S0101_C06_014E,S0101_C06_015E,S0101_C06_016E,S0101_C06_017E,S0101_C06_018E,S0101_C06_019E&in=state:*&in=county:*&for=county:*
2019 Renameing GEO_ID  =  Geography Changing type to string
2019 Renameing NAME  =  Geographic Area Name Changing type to string
2019 Renameing S0101_C06_002E  =  Under 5 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_003E  =  5 to 9 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_004E  =  10 to 14 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_005E  =  15 to 19 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_006E  =  20 to 24 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_007E  =  25 to 29 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_008E  =  30 to 34 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_009E  =  35 to 39 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_010E  =  40 to 44 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_011E  =  45 to 49 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_012E  =  50 to 54 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_013E  =  55 to 59 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_014E  =  60 to 64 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_015E  =  65 to 69 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_016E  =  70 to 74 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_017E  =  75 to 79 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_018E  =  80 to 84 years 2019 (Estimate) Changing type to float
2019 Renameing S0101_C06_019E  =  85 years and over 2019 (Estimate) Changing type to float

In [52]:
acs_df['2019 Percent Male'].head()

        Geography      Geographic Area Name  ...  state  county
0  0500000US17051  Fayette County, Illinois  ...     17     051
1  0500000US17107    Logan County, Illinois  ...     17     107
2  0500000US17165   Saline County, Illinois  ...     17     165
3  0500000US17097     Lake County, Illinois  ...     17     097
4  0500000US17127   Massac County, Illinois  ...     17     127

[5 rows x 22 columns]

In [53]:
acs_df['2019 Percent Female'].head()

        Geography      Geographic Area Name  ...  state  county
0  0500000US17051  Fayette County, Illinois  ...     17     051
1  0500000US17107    Logan County, Illinois  ...     17     107
2  0500000US17165   Saline County, Illinois  ...     17     165
3  0500000US17097     Lake County, Illinois  ...     17     097
4  0500000US17127   Massac County, Illinois  ...     17     127

[5 rows x 22 columns]

## Step 2: Clean Data
Data cleaning is an important step in the data science process. This step is often the hardest and most time consuming.

### 2.1. Clean ACS Data
#### 2.1.1 Make sure variable types are set correctly
For the ACS data we have both population counts and precents. The percentage estiamtes are not integers - they are "floats" which refers the the decimal place that can float in the number between the integer and the fractional part. Here is more information on Python number types https://www.tutorialspoint.com/python/python_numbers.htm

#### 2.1.2 Use descriptive statistics to check cleaning
A descriptive statistics table is a great way to check to make sure the variables have been created correctly.

In [54]:
float_col_list = list(acs_df['2019 Percent Female'].select_dtypes(include=['float']).columns)
table2 = acs_df['2019 Percent Female'][float_col_list].describe().T
varformat = "{:,.2f}" # The variable format adds a comma and rounds up
table_title = "Table 2. Descriptive statistics for variables by county, 2019 5-year ACS."
table2 = table2.style.set_caption(table_title).format(varformat).set_properties(**{'text-align': 'right'})
table2

## Step 3: Merge Data together
Merging data together is a powerful tool in data science workflows. Merge data refers to combining data that represent the same unit of analysis. In this example all three datasets represent counties in the US. Each dataframe has a common variable called GEO_ID which uniquely identifies the counties.

Here is a good overview of data merging in python:
https://towardsdatascience.com/why-and-how-to-use-merge-with-pandas-in-python-548600f7e738

### 3.1 - Merge Part 1 - Combine ACS Data

In [ ]:
merge_df = pd.merge(left = acs_df['2012'],
                    right = acs_df['2019'],
                    left_on = ['Geography','Geographic Area Name'],
                    right_on = ['Geography','Geographic Area Name'],
                    how = 'inner')
merge_df.head()

              Geography  ... tract_y
0  1400000US48113014132  ...  014132
1  1400000US48113014133  ...  014133
2  1400000US48113014134  ...  014134
3  1400000US48113014135  ...  014135
4  1400000US48113014136  ...  014136

[5 rows x 16 columns]

### 3.3.1 Remove repeated columns

In [ ]:
## The state and county columns also match - we can drop the repeated columns
merge_df = merge_df.drop(['state_y','county_y'], axis = 1)
merge_df.head()

              Geography  ... tract_y
0  1400000US48113014132  ...  014132
1  1400000US48113014133  ...  014133
2  1400000US48113014134  ...  014134
3  1400000US48113014135  ...  014135
4  1400000US48113014136  ...  014136

[5 rows x 14 columns]

## Step 4: Explore Data
### 4.1 - Which Census Geographies had significant changes?

In [ ]:
merge_df = merge_df.sort_values(by=['Difference between Percents'], ascending=False)
merge_df.loc[(merge_df['Workers 16 years and over 2012 (Estimate)'] > 4000) &
             (merge_df['Difference between Percents'] > 0) &
             (merge_df['county_x'] == '201') &
             (merge_df['Test Statistic'] >= 3)]

                 Geography  ... Test Statistic
1312  1400000US48201314002  ...      66.308216
4808  1400000US48201452700  ...      11.866512
3840  1400000US48201452100  ...      17.239697
4494  1400000US48201533400  ...       6.299427
2022  1400000US48201541003  ...       3.768688
5224  1400000US48201510900  ...       4.630898
2212  1400000US48201240902  ...       3.730324
958   1400000US48201552800  ...       5.784261

[8 rows x 19 columns]